
<mat-toolbar color="primary">
  <h1>MIAHOOT</h1>

  <ng-container *ngIf = "user | async as U; else unlogged">
    {{U.displayName}}
    <a [matMenuTriggerFor]="menu"><img src="{{U.photoURL}}" alt=""></a>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click) = "logout()">Log out</button>
      <button mat-menu-item>Configurations du compte</button>
    </mat-menu>
  </ng-container>
  <ng-template #unlogged>
    <button mat-button (click)="login()" >Login with google</button>
  </ng-template>

  
</mat-toolbar>